.page-header {
    background: $off-white;
    margin-bottom: $l-size;
    padding: $l-size 0;
}

.page-header__actions {
    margin-top: $m-size;
}

.page-header__title {
    margin: 0;
    font-weight: 300;
    span {
        font-weight: 700;
    }
}

.page-header__dashboard {
    display: flex;
    justify-content: center;
}

.page-header__dashboard-Item {
    margin: 0 $l-size 0 $l-size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}